IDD_STAMMKUNDEN DIALOG 20, 20, 271, 172
STYLE DS_MODALFRAME | WS_CAPTION | WS_CHILD | WS_VISIBLE | WS_SYSMENU
CAPTION "Stammkunden"
FONT 8, "Helv"
BEGIN
	CONTROL "Ok", ID_OK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 210, 140, 48, 20
	CONTROL "Frame", 106, "STATIC", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 12, 128, 244, 1
	CONTROL "Abbrechen", ID_CANCEL, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 140, 48, 20
	CONTROL "", IDC_INHALT, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 85, 35, 68, 12
	CONTROL "", 110, "COMBOBOX", CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 35, 67, 82
	CONTROL "Status", ID_STATUS, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 210, 15, 48, 32
	CONTROL "Daten - Element", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 15, 67, 8
	CONTROL "Inhalt", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 85, 15, 67, 8
END

