DIALOG_1 DIALOG 20, 20, 95, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_CHILD | WS_VISIBLE | WS_SYSMENU
CAPTION "ZOOM"
FONT 8, "Helv"
BEGIN
	CONTROL "100 Prozent", 101, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 10, 64, 10
	CONTROL "Ok", 1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 50, 50, 40, 17
	CONTROL "Cancel", 2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 50, 40, 17
	CONTROL "", 103, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 25, 59, 11
END

